<app-navbar></app-navbar>

<div class="flex-container">
  <div class="panel">
    <p class="BoldAndFat">Create a new Product</p>

    <form action="">
      <input
        [(ngModel)]="title"
        type="text"
        name="ProductName"
        placeholder="Product Name"
      />
      <br />
      <input
        [(ngModel)]="features"
        type="text"
        name="Tags"
        placeholder="Choose some Tags"
      />
      <br />
      <input
        [(ngModel)]="body"
        type="text"
        name="ProductDescription"
        placeholder="Product Description"
      />
      <br />
      <input
        [(ngModel)]="script"
        type="text"
        name="DragFiles"
        placeholder="Input Git Link here"
      />
      <br />
      <input [(ngModel)]="price" type="number" name="price" placeholder="0" />

      <mat-checkbox [(ngModel)]="checked" name="AcceptAGB"
        >Accept AGB
      </mat-checkbox>
    </form>

    <a routerLink="/productcreatedsucsessfully"
      ><button (click)="submitForm()">Submit</button></a
    >
    <a routerLink="/home"><button>Cancel</button></a>
  </div>
</div>

<app-footer></app-footer>
