/* screen - password-reset */

.password-reset {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1556px;
  width: 1920px;
}

.password-reset .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.password-reset .overlap-group2 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.password-reset .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.password-reset .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.password-reset .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.password-reset .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.password-reset .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.password-reset .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/background-30@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: 117px;
  min-height: 774px;
  padding: 63px 132px;
  width: 1741px;
}

.password-reset .title {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 70px;
  min-height: 188px;
  white-space: nowrap;
}

.password-reset .loginfield {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 6px;
  min-height: 183px;
  width: 447px;
}

.password-reset .overlap-group {
  align-items: flex-end;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 98px;
  min-width: 447px;
  padding: 23px 80px;
}

.password-reset .e-mail {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 92px;
  opacity: 0.3;
  white-space: nowrap;
}

.password-reset .komponente-5-14 {
  display: flex;
  height: 40px;
  width: 339px;
}

.password-reset .gruppe-6 {
  align-items: flex-end;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 20px;
  display: flex;
  height: 105px;
  margin-top: 124px;
  min-width: 450px;
  padding: 10px 144px;
}

.password-reset .submit {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 162px;
  white-space: nowrap;
}

.password-reset .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 108px;
  min-width: 1741px;
  width: auto;
}

.password-reset .overlap-group1 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.password-reset .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.password-reset .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.password-reset .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.password-reset .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.password-reset .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.password-reset .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.password-reset .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.password-reset .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}
