<footer class="flex-container">
  <span
    ><a routerLink="/home">
      <img src="../../assets/Images/Logos/Logo-White-with-Text.png" /></a
  ></span>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="Flex-Box">
    <div class="Col1">
      <a routerLink="/about"><p>About</p></a>
      <a routerLink="/impressum"><p>Impressum</p></a>
      <a routerLink="/disclaimer"><p>Disclaimer</p> </a>
      <a routerLink="/termsandconditions"><p>Terms & conditions</p></a>
    </div>

    <div class="Col2">
      <a routerLink="/home"><p>home</p></a>
    </div>
  </div>
</footer>
