

img {
  height: 8vw;
  margin-top: 3vw;

}

.mat-divider.mat-divider-vertical {
  height: 13vw;
  margin-top: 1vw;
}

footer {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-color: white;
  border-width: thin;
  margin-top: 20vw;
//  align-content: flex-start;
}
.Flex-Box{
  display: flex;
  width: 20vw ;
  margin-right: 6vw;
  justify-content: space-around;
}
p{
  font-size: 1.5vw;
}
