<body>
  <app-navbar></app-navbar>

  <div class="flex-container">
    <div class="left-side">
      <p class="size-for-title">{{ title }}</p>

      <br />
      <br />

      <p class="size-for-description">Desription</p>
      <p class="size-for-description-content">{{ description }}</p>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="right-side">
      <img
        class="img-size"
        src="../../assets/Images/python-logo-png-this-free-icons-png-design-of-python-language-lo-10@1x.png"
      />
      <br />
      <br />
      <p>Price per device: CHF {{ PRICE }}</p>
      <div class="flex-container">
        <p>Amount:</p>
        <input id="1" placeholder="1 +" />
      </div>

      <br />
      <br />
      <button>Add to cart</button>
    </div>
  </div>

  <br />
  <br />

  <mat-divider [vertical]="true"></mat-divider>

  <br />
  <br />
  <br />
  <br />

  <div>
    <p>KeyFeatures</p>
    <p>{{ Features }}</p>

    <br />
    <br />

    <p>Created by:</p>
    <p>{{ Creator }}</p>
  </div>

  <app-footer></app-footer>
</body>
