p {
  color: white;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.flex-container-price-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
input {
  width: 4vw;
}
.right-side {
  margin-top: 6vw;
}
.left-side {
  margin-top: 7vw;
  width: 35%;
}

.mat-divider.mat-divider-vertical {
  height: 30vw;
  margin-top: 16vw;
  color: white;
}
.mat-divider {
  color: white;
  height: 1vw;
}
.img-size {
  height: 18vw;
  width: auto;
}
.size-for-description {
  font-weight: bold;
  font-size: 3vw;
}
.size-for-description-content {
  font-size: 1.8vw;
}
.size-for-key-features {
  font-size: 3vw;
  font-weight: bold;
}
.size-for-title {
  font-weight: bold;
  font-size: 4.5vw;
}
hr {
  width: 80%;
  height: 1px;
  background-color: white;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.features-created-by {
  margin-left: 5%;
}
