.shoppingcart {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.shoppingcart .div-13 {
  background-color: #000000;
  height: 2808px;
  position: relative;
  width: 1920px;
}

.shoppingcart .overlap-44 {
  height: 1494px;
  left: 90px;
  position: absolute;
  top: 204px;
  width: 1741px;
}

.shoppingcart .tile {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.shoppingcart .product-in-cart {
  height: 1426px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 1741px;
}

.shoppingcart .product-in-cart-2 {
  height: 598px;
  left: 64px;
  position: absolute;
  top: 74px;
  width: 1214px;
}

.shoppingcart .overlap-group-15 {
  height: 598px;
  position: relative;
}

.shoppingcart .background-11 {
  display: block;
  height: 598px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1214px;
}

.shoppingcart .rechteck-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #707070;
  border-radius: 20px;
  height: 59px;
  left: 757px;
  position: absolute;
  top: 448px;
  width: 197px;
}

.shoppingcart .text-wrapper-131 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 782px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 455px;
  white-space: nowrap;
}

.shoppingcart .text-wrapper-132 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 1023px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}

.shoppingcart .bild-15 {
  height: 350px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 170px;
  width: 608px;
}

.shoppingcart .key-features-package {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 767px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.shoppingcart .amount {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #707070;
  border-radius: 20px;
  display: block;
  height: 56px;
  left: 762px;
  position: absolute;
  top: 338px;
  width: 103px;
}

.shoppingcart .text-wrapper-133 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.shoppingcart .text-wrapper-134 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 80px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.shoppingcart .product-in-cart-3 {
  height: 598px;
  left: 64px;
  position: absolute;
  top: 706px;
  width: 1214px;
}

.shoppingcart .total {
  background-image: url(../../../static/img/background-29.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 95px;
  left: 68px;
  position: absolute;
  top: 1399px;
  width: 1209px;
}

.shoppingcart .text-wrapper-135 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.shoppingcart .text-wrapper-136 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 980px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.shoppingcart .wiederholungsraster {
  height: 150px;
  left: 158px;
  position: absolute;
  top: 1717px;
  width: 1133px;
}

.shoppingcart .div-14 {
  height: 79px;
  left: 5px;
  position: absolute;
  top: 67px;
  width: 737px;
}

.shoppingcart .gruppe-67 {
  display: block;
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 349px;
}

.shoppingcart .overlap-group-16 {
  height: 83px;
  position: relative;
}

.shoppingcart .pfad-12 {
  display: block;
  height: 79px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 349px;
}

.shoppingcart .text-wrapper-137 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.shoppingcart .login-wrapper {
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 79px;
  left: 377px;
  position: absolute;
  top: 0;
  width: 360px;
}

.shoppingcart .login {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.shoppingcart .div-15 {
  height: 79px;
  left: 5px;
  position: absolute;
  top: 202px;
  width: 737px;
}

.shoppingcart .footer-9 {
  background-color: transparent;
  height: 373px;
  left: 83px;
  position: absolute;
  top: 2407px;
  width: 1741px;
}

.shoppingcart .overlap-45 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.shoppingcart .background-12 {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.shoppingcart .auto-script-shop-10 {
  display: block;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.shoppingcart .gruppe-68 {
  height: 349px;
  left: 1113px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.shoppingcart .text-wrapper-138 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.shoppingcart .text-wrapper-139 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 176px;
  white-space: nowrap;
}

.shoppingcart .text-wrapper-140 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 90px;
  white-space: nowrap;
}

.shoppingcart .terms-conditions-8 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 268px;
  white-space: nowrap;
}

.shoppingcart .linie-18 {
  height: 240px;
  left: 868px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 3px;
}

.shoppingcart .gruppe-69 {
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.shoppingcart .navbar-6 {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.shoppingcart .overlap-46 {
  height: 140px;
  position: relative;
}

.shoppingcart .icon-black-9 {
  height: 70px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 59px;
}

.shoppingcart .blackbackground-9 {
  background-color: #121212;
  border: 1px solid;
  border-color: #707070;
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.shoppingcart .text-wrapper-141 {
  -webkit-text-stroke: 1px #ffffff;
  color: #fcfcfd;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 1237px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.shoppingcart .user-9 {
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.shoppingcart .element-9 {
  height: 65px;
  left: 1592px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 65px;
}

.shoppingcart .element-cart-9 {
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.shoppingcart .gruppe-70 {
  display: block;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.shoppingcart .icon-white-9 {
  background-image: url(../../../static/img/icon-white-48.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 81px;
  width: 67px;
}

.shoppingcart .linie-19 {
  height: 57px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 3px;
}

.shoppingcart .requests-9 {
  -webkit-text-stroke: 1px #ffffff;
  color: #fcfcfd;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 1408px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
