.flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
}

.filter-container {
  flex: 0 0 25%;
}

.products-container {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Drei Spalten mit gleicher Breite */
  row-gap: 1vw; /* Abstand zwischen den Zeilen */
  list-style-type: none;
  padding: 0;
  margin: 0; /* Entfernt die Standard-Margen des ul-Elements */
  width: 100%; /* Sorgt dafür, dass das ul-Element die gesamte Breite des Containers einnimmt */

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für kleinere Bildschirme */
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr); /* Eine Spalte für noch kleinere Bildschirme */
  }
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
