<app-navbar></app-navbar>

<div class="flex-container">
  <div class="panel">
    <div class="text-alignment">
      <p class="bold">The Concept:</p>

      <p>
        But not only that. You can post a request for a script you need and
        someone else will then write for you. The best thing, both get money.
        The programmer gets the initial reward, if he delivers an acceptable
        product on time, and 87.5% from every sale of the product afterward. The
        request poster gets the script of his need and 5% from every subsequent
        sale on this platform.
      </p>

      <br />

      <p class="bold">The Team:</p>

      <p>
        This website is run by a little team of 4 peoples. All of us are
        students at the FMZ in Lucerne in the 3rd year to become Software
        developers.
      </p>
      <br />
      <div class="space-between">
        <div>
          <div class="flex-between">
            <p class="bold">Collyn Legast</p>
            <p>Lead development</p>
          </div>
          <div class="flex-between">
            <p class="bold">Manuel Kram</p>
            <p>Lead Design</p>
          </div>
          <div class="flex-between">
            <p class="bold">Elias Schwegler</p>
            <p>Chief Technology Officer</p>
          </div>
          <div class="flex-between">
            <p class="bold">Linus Becker</p>
            <p>Chief Coordination Officer</p>
          </div>
        </div>

        <img src="../../assets/Images/brainstorm@1x.png" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
