<mat-toolbar class="flex-container">
  <span>
    <a routerLink="/dump">
      <img
        class="navlogo"
        src="../../assets/Images/Logos/Logo-White.png"
      />
    </a>
  </span>

  <span class="fill-remaining-space"></span>

  <mat-divider [vertical]="true"></mat-divider>

  <span><a routerLink="/products" class="texts">Products</a></span>

  <span><a routerLink="/requests" class="texts">Requests</a></span>
  <span><img src="../../assets/Images/Lupe.png" /></span>
  <span><img src="../../assets/Images/Shoppingcart.png" /></span>
  <span><img src="../../assets/Images/UserIcon.png" /></span>
</mat-toolbar>
s
