/* screen - user-hub-3 */

.user-hub-3 {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1903px;
  width: 1920px;
}

.user-hub-3 .navbar {
  align-items: flex-start;
  display: flex;
  height: 108px;
  left: 0;
  min-width: 1920px;
  position: absolute;
  top: 0;
}

.user-hub-3 .overlap-group1 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.user-hub-3 .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.user-hub-3 .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.user-hub-3 .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.user-hub-3 .linie-3 {
  height: 57px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 3px;
}

.user-hub-3 .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.user-hub-3 .overlap-group2 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.user-hub-3 .flex-row {
  gap: 78px;
  height: 1001px;
  margin-right: 14px;
  margin-top: 8px;
  min-width: 1816px;
}

.user-hub-3 .flex-col {
  align-self: flex-end;
  flex-direction: column;
  gap: 156px;
  min-height: 864px;
  width: 1018px;
}

.user-hub-3 .tile {
  -webkit-text-stroke: 1px var(--botticelli);
  letter-spacing: 0;
  line-height: 57px;
  min-height: 78px;
  white-space: nowrap;
}

.user-hub-3 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 630px;
  min-width: 1018px;
}

.user-hub-3 .flex-col-1 {
  gap: 132px;
  min-height: 606px;
  width: 372px;
}

.user-hub-3 .overlap-group3 {
  border-radius: 20px;
  height: 237px;
  position: relative;
  width: 372px;
}

.user-hub-3 .settings {
  display: flex;
  height: 66px;
  left: 37px;
  position: absolute;
  top: 67px;
  width: 299px;
}

.user-hub-3 .bild-22 {
  border-radius: 20px;
  left: 0;
  position: absolute;
  top: 0;
}

.user-hub-3 .bild-18 {
  border-radius: 25px;
}

.user-hub-3 .linie {
  height: 150px;
  object-fit: cover;
  width: 8px;
}

.user-hub-3 .flex-col-2 {
  gap: 260px;
  min-height: 918px;
  width: 721px;
}

.user-hub-3 .overlap-group4 {
  height: 563px;
  position: relative;
  width: 721px;
}

.user-hub-3 .overlap-group4-item {
  -webkit-text-stroke: 1px var(--gallery);
  left: 490px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.user-hub-3 .rechteck-66 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 43px;
  height: 483px;
  left: 454px;
  position: absolute;
  top: 0;
  width: 267px;
}

.user-hub-3 .name {
  -webkit-text-stroke: 1px var(--gallery);
  left: 482px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.user-hub-3 .logout {
  -webkit-text-stroke: 1px var(--gallery);
  cursor: pointer;
  left: 482px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
}

.user-hub-3 .purchase-history {
  -webkit-text-stroke: 1px var(--gallery);
  cursor: pointer;
  left: 482px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.user-hub-3 .footer {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-right: 49px;
  margin-top: 366px;
  min-width: 1741px;
  width: auto;
}

.user-hub-3 .overlap-group {
  height: 373px;
  position: relative;
  width: 1741px;
}

.user-hub-3 .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.user-hub-3 .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.user-hub-3 .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.user-hub-3 .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.user-hub-3 .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.user-hub-3 .linie-2 {
  height: 240px;
  left: 868px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 3px;
}

.user-hub-3 .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.user-hub-3 .bild {
  height: 237px;
  object-fit: cover;
  width: 372px;
}

.user-hub-3 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
