/* screen - products */

.products {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2452px;
  width: 1920px;
}

.products .overlap-group {
  height: 108px;
  position: relative;
  width: 1920px;
}

.products .navbar {
  align-items: flex-start;
  display: flex;
  height: 108px;
  left: 0;
  min-width: 1920px;
  position: absolute;
  top: 0;
}

.products .title {
  -webkit-text-stroke: 1px var(--white);
  left: 1238px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.products .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.products .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.products .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.products .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
  width: 3px;
}

.products .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.products .flex-row {
  gap: 60px;
  height: 1657px;
  margin-left: 1px;
  margin-top: 72px;
  min-width: 1859px;
}

.products .gruppe-51 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 37px;
  min-height: 1082px;
  width: 335px;
}

.products .type {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  white-space: nowrap;
}

.products .overlap-group-3 {
  height: 161px;
  margin-left: 1px;
  margin-top: 10px;
  position: relative;
  width: 190px;
}

.products .komponente-30-7 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 34px;
}

.products .komponente-30-8 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 68px;
}

.products .komponente-30-9 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 102px;
}

.products .komponente-30-10 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 136px;
}

.products .overlap-group3 {
  height: 134px;
  position: relative;
  width: 272px;
}

.products .surname {
  -webkit-text-stroke: 1px var(--white);
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.products .overlap-group2 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 272px;
}

.products .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  height: 24px;
  min-width: 33px;
  padding: 4.5px 8px;
}

.products .name {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 8px;
  min-height: 13px;
  min-width: 17px;
  white-space: nowrap;
}

.products .freelancer-rating {
  -webkit-text-stroke: 1px var(--white);
  color: #fffdfd;
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  white-space: nowrap;
}

.products .text-1 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -1px;
  margin-left: 20px;
  min-height: 20px;
  min-width: 23px;
  white-space: nowrap;
}

.products .gruppe-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  margin-left: 36px;
  margin-top: 20px;
  min-height: calc(100% - 41px);
  width: 137px;
}

.products .filter-4 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 5px;
  min-height: 42px;
  white-space: nowrap;
}

.products .flex-row-1 {
  gap: 25px;
  height: 26px;
  margin-top: 44px;
  min-width: 72px;
}

.products .ellipse {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 12.5px/11.5px;
  height: 23px;
  width: 25px;
}

.products .c {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 23px;
  min-width: 22px;
  white-space: nowrap;
}

.products .flex-row-2 {
  gap: 25px;
  height: 26px;
  margin-top: 8px;
  min-width: 103px;
}

.products .python {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 23px;
  min-width: 53px;
  white-space: nowrap;
}

.products .flex-row-3 {
  gap: 25px;
  height: 28px;
  margin-top: 6px;
  min-width: 82px;
}

.products .price {
  align-self: flex-end;
  line-height: 16px;
  min-height: 23px;
  min-width: 32px;
}

.products .flex-row-4 {
  gap: 25px;
  height: 28px;
  margin-top: 6px;
  min-width: 80px;
}

.products .css {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 23px;
  min-width: 30px;
  white-space: nowrap;
}

.products .flex-row-5 {
  gap: 25px;
  height: 30px;
  margin-top: 4px;
  min-width: 137px;
}

.products .power-shell {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 23px;
  min-width: 87px;
  white-space: nowrap;
}

.products .flex-col {
  flex-direction: column;
  gap: 19px;
  min-height: 1657px;
  width: 1464px;
}

.products .flex-row-6 {
  gap: 39px;
  min-width: 1461px;
}

.products .gruppe-95 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 461px;
}

.products .overlap-group-2 {
  border-radius: 30px;
  height: 313px;
  position: relative;
  width: 461px;
}

.products .package-management {
  -webkit-text-stroke: 1px var(--white);
  left: 23px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 234px;
  white-space: nowrap;
}

.products .logging-and-notifi {
  -webkit-text-stroke: 1px var(--white);
  left: 251px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 232px;
  white-space: nowrap;
}

.products .price-chf {
  left: 23px;
  line-height: 20px;
  position: absolute;
  top: 186px;
}

.products .bakcground {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray-2);
  border-radius: 30px;
  height: 313px;
  left: 0;
  position: absolute;
  top: 0;
  width: 461px;
}

.products .auto-adminpro {
  left: 251px;
  position: absolute;
  top: 62px;
}

.products .bild-22 {
  height: 137px;
  left: 23px;
  position: absolute;
  top: 28px;
  width: 216px;
}

.products .product-pannel-2 {
  gap: 25px;
  justify-content: flex-end;
  width: 461px;
}

.products .bild-18 {
  flex: 1;
  margin-bottom: 156px;
  margin-left: 27px;
  margin-top: 43px;
}

.products .data-dynamoscript {
  -webkit-text-stroke: 1px var(--white);
  height: 94px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 22px;
  margin-top: -32.6px;
  white-space: nowrap;
  width: 208px;
}

.products .data-analyze-dat {
  -webkit-text-stroke: 1px var(--white);
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 244px;
  white-space: nowrap;
}

.products .backup-and-rollback {
  -webkit-text-stroke: 1px var(--white);
  left: 262px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
}

.products .price-chf-40 {
  left: 34px;
  position: absolute;
  top: 194px;
}

.products .gruppe-97 {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery-2);
  border-radius: 30px;
  display: flex;
  gap: 1px;
  height: 313px;
  min-width: 461px;
  padding: 16.5px 28px;
}

.products .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  min-height: 254px;
  width: 202px;
}

.products .bild {
  height: 114px;
  width: 179px;
}

.products .price-chf-10 {
  margin-left: 17px;
  margin-top: 28px;
  min-height: 29px;
}

.products .timetable-custom {
  -webkit-text-stroke: 1px var(--white);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 20px;
  min-height: 62px;
  min-width: 185px;
  white-space: nowrap;
}

.products .task-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 14.5px;
  min-height: 176px;
  width: 173px;
}

.products .task-tamerscript {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 2px;
  min-height: 94px;
  min-width: 171px;
  white-space: nowrap;
}

.products .visual-task-board {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  min-width: 131px;
  white-space: nowrap;
}

.products .flex-col-2 {
  align-items: flex-start;
  gap: 23px;
  min-height: 1325px;
  width: 1464px;
}

.products .overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 39px;
  height: 317px;
  min-width: 1464px;
}

.products .product-pannel-3 {
  gap: 26px;
  justify-content: flex-end;
  width: 461px;
}

.products .bild-17 {
  flex: 1;
  margin-bottom: 156px;
  margin-left: 26px;
  margin-top: 43px;
}

.products .streamlinemaster {
  -webkit-text-stroke: 1px var(--white);
  height: 94px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 61px;
  margin-top: -32.6px;
  white-space: nowrap;
  width: 169px;
}

.products .package-management-1 {
  left: 23px;
  top: 232px;
}

.products .logging-and-notifi-1 {
  left: 251px;
  top: 229px;
}

.products .price-chf-1 {
  left: 23px;
  position: absolute;
  top: 182px;
}

.products .product-pannel {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery-2);
  border-radius: 30px;
  display: flex;
  height: 313px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 461px;
}

.products .bild-44 {
  height: 114px;
  margin-left: 34px;
  margin-top: 43px;
  width: 179px;
}

.products .automagicflow {
  -webkit-text-stroke: 1px var(--white);
  height: 94px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 56px;
  margin-top: -32.6px;
  white-space: nowrap;
  width: 174px;
}

.products .package-management-2 {
  left: 34px;
  top: 232px;
}

.products .logging-and-notifi-2 {
  left: 262px;
  top: 229px;
}

.products .price-chf-20 {
  left: 34px;
  position: absolute;
  top: 182px;
}

.products .overlap-group14 {
  align-self: flex-start;
  height: 313px;
  position: relative;
  width: 464px;
}

.products .product-pannel-4 {
  align-items: flex-start;
  gap: 19px;
  min-width: 461px;
  padding: 42px 32px;
}

.products .auto-flowmaster {
  margin-top: 33px;
  min-height: 94px;
}

.products .package-management-3 {
  left: 45px;
  top: 236px;
}

.products .logging-and-notifi-3 {
  left: 273px;
  top: 233px;
}

.products .price-chf-10-1 {
  -webkit-text-stroke: 1px var(--white);
  left: 45px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 190px;
  white-space: nowrap;
}

.products .overlap-group-container-1 {
  min-width: 1464px;
}

.products .product-pannel-1 {
  align-items: flex-start;
  gap: 25px;
  min-width: 461px;
  padding: 42px 26px;
}

.products .efficiencyscripter {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 33px;
  min-height: 94px;
  white-space: nowrap;
}

.products .package-management-4 {
  left: 23px;
  top: 236px;
}

.products .logging-and-notifi-4 {
  left: 251px;
  top: 233px;
}

.products .overlap-group16 {
  border-radius: 30px;
  height: 313px;
  margin-left: 41px;
  position: relative;
  width: 461px;
}

.products .logic-flowscript {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 33px;
  min-height: 94px;
  white-space: nowrap;
}

.products .package-management-5 {
  left: 32px;
  top: 236px;
}

.products .logging-and-notifi-5 {
  left: 260px;
  top: 233px;
}

.products .price-chf-25 {
  left: 32px;
  position: absolute;
  top: 186px;
}

.products .overlap-group17 {
  height: 313px;
  margin-left: 37px;
  position: relative;
  width: 464px;
}

.products .bild-1 {
  height: 114px;
  margin-left: 27px;
  margin-top: 43px;
  width: 179px;
}

.products .script-bot-pro {
  -webkit-text-stroke: 1px var(--white);
  height: 48px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 19px;
  margin-top: -21.1px;
  white-space: nowrap;
  width: 211px;
}

.products .package-management-6 {
  left: 45px;
  top: 228px;
}

.products .logging-and-notifi-6 {
  left: 273px;
  top: 226px;
}

.products .price-chf-25-1 {
  left: 45px;
  top: 180px;
}

.products .gruppe-104 {
  align-items: flex-start;
  display: flex;
  height: 649px;
  min-width: 1461px;
}

.products .overlap-group-container-2 {
  flex-direction: column;
  gap: 23px;
  min-height: 649px;
  width: 461px;
}

.products .robo-rhythms {
  -webkit-text-stroke: 1px var(--white);
  height: 48px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 7px;
  margin-top: -21.1px;
  white-space: nowrap;
  width: 223px;
}

.products .script-wiz-automate {
  -webkit-text-stroke: 1px var(--white);
  align-self: center;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: 55px;
  min-height: 94px;
  min-width: 162px;
  white-space: nowrap;
}

.products .package-management-7 {
  left: 23px;
  top: 226px;
}

.products .logging-and-notifi-7 {
  left: 251px;
  top: 224px;
}

.products .price-chf-25-2 {
  left: 23px;
  top: 178px;
}

.products .overlap-group-container-3 {
  flex-direction: column;
  gap: 23px;
  margin-left: 41px;
  min-height: 649px;
  width: 461px;
}

.products .precision-code {
  -webkit-text-stroke: 1px var(--white);
  height: 48px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 4px;
  margin-top: -21.1px;
  white-space: nowrap;
  width: 226px;
}

.products .package-management-8 {
  left: 32px;
  top: 232px;
}

.products .logging-and-notifi-8 {
  left: 260px;
  top: 229px;
}

.products .price-chf-25-3 {
  left: 32px;
  top: 182px;
}

.products .product-pannel-5 {
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 461px;
  padding: 82px 81px;
}

.products .autopilotscripter {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  min-height: 94px;
  white-space: nowrap;
}

.products .bild-51 {
  height: 114px;
  left: 27px;
  position: absolute;
  top: 43px;
  width: 179px;
}

.products .package-management-9 {
  left: 32px;
  top: 228px;
}

.products .logging-and-notifi-9 {
  left: 260px;
  top: 225px;
}

.products .price-chf-25-4 {
  left: 32px;
  top: 178px;
}

.products .overlap-group8 {
  border-radius: 30px;
  height: 313px;
  margin-left: 37px;
  position: relative;
  width: 461px;
}

.products .code-harmony {
  -webkit-text-stroke: 1px var(--white);
  height: 48px;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: -21.1px;
  white-space: nowrap;
  width: 230px;
}

.products .package-management-10 {
  left: 28px;
  top: 232px;
}

.products .logging-and-notifi-10 {
  left: 256px;
  top: 229px;
}

.products .price-chf-25-5 {
  left: 28px;
  top: 182px;
}

.products .flex-col-3 {
  align-items: flex-end;
  gap: 72px;
  margin-left: 1px;
  margin-top: 36px;
  min-height: 545px;
  width: 1741px;
}

.products .gruppe-59 {
  align-items: flex-end;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  height: 100px;
  min-width: 1405px;
  padding: 20.5px 220px;
}

.products .didnt-find-what-you {
  color: #757aff;
  cursor: pointer;
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  min-height: 48px;
  min-width: 946px;
  text-align: center;
  white-space: nowrap;
}

.products .span1 {
  font-family: var(--font-family-malgungothic-regular);
  text-decoration: underline;
}

.products .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  min-width: 1741px;
  width: auto;
}

.products .overlap-group4 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.products .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.products .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.products .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.products .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.products .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.products .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
  width: 3px;
}

.products .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.products .auto {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  white-space: nowrap;
}

.products .bild-2 {
  border-radius: 20px;
  object-fit: cover;
}

.products .flex-col-4 {
  display: flex;
  flex-direction: column;
}

.products .flex-row-7 {
  align-items: flex-start;
  display: flex;
}

.products .komponente-30 {
  background-color: var(--white);
  border-radius: 8px;
  width: 25px;
}

.products .linie {
  object-fit: cover;
  position: absolute;
}

.products .logging-and-notifi-11 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
}

.products .package-management-11 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  white-space: nowrap;
}

.products .price-1 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  white-space: nowrap;
}

.products .price-chf-2 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.products .price-chf-25-6 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  white-space: nowrap;
}

.products .product-pannel-6 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery-2);
  border-radius: 30px;
  display: flex;
  height: 313px;
  left: 0;
  position: absolute;
  top: 0;
}
