/* screen - product-spesific */

.product-spesific {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2699px;
  width: 1920px;
}

.product-spesific .overlap-group {
  height: 108px;
  position: relative;
  width: 1920px;
}

.product-spesific .navbar {
  align-items: flex-start;
  display: flex;
  height: 108px;
  left: 0;
  min-width: 1920px;
  position: absolute;
  top: 0;
}

.product-spesific .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.product-spesific .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.product-spesific .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.product-spesific .linie-3 {
  height: 57px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 3px;
}

.product-spesific .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.product-spesific .flex-row {
  height: 1038px;
  margin-right: 22px;
  margin-top: 183px;
  min-width: 1630px;
}

.product-spesific .flex-col {
  align-self: flex-end;
  flex-direction: column;
  gap: 235px;
  min-height: 1023px;
  width: 1046px;
}

.product-spesific .title {
  -webkit-text-stroke: 1px var(--black);
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 90px;
  min-height: 122px;
  white-space: nowrap;
}

.product-spesific .descriptionauto-admi {
  -webkit-text-stroke: 1px var(--black);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 35px;
  min-height: 666px;
  min-width: 1040px;
  white-space: nowrap;
}

.product-spesific .linie-4 {
  align-self: center;
  height: 850px;
  margin-left: 26px;
  margin-top: 85px;
  object-fit: cover;
  width: 14px;
}

.product-spesific .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  min-height: 949px;
  width: 515px;
}

.product-spesific .bild-22 {
  border-radius: 19px;
  height: 312px;
  margin-right: 8px;
  object-fit: cover;
  width: 468px;
}

.product-spesific .overlap-group3 {
  height: 242px;
  margin-top: 260px;
  position: relative;
  width: 515px;
}

.product-spesific .surname {
  -webkit-text-stroke: 1px var(--black);
  color: var(--white);
  font-family: var(--font-family-malgun_gothic);
  font-size: 45px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.product-spesific .gruppe-90 {
  align-items: flex-end;
  background-image: url(../img/pfad-31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 66px;
  left: 199px;
  min-width: 158px;
  padding: 3.5px 54px;
  position: absolute;
  top: 90px;
}

.product-spesific .text-6 {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 35px;
  min-height: 48px;
  min-width: 46px;
  white-space: nowrap;
}

.product-spesific .loginfield {
  align-items: flex-end;
  background-image: url(../img/pfad-45@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 98px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 37px;
  min-width: 327px;
  padding: 13px 51.8px;
}

.product-spesific .add-to-cart {
  -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  min-height: 56px;
  min-width: 221px;
  white-space: nowrap;
}

.product-spesific .pfad-47 {
  height: 10px;
  margin-left: 57.5px;
  margin-top: 7px;
  object-fit: cover;
  width: 1704px;
}

.product-spesific .key-features-packa {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 124px;
  margin-top: 191px;
  min-height: 298px;
  min-width: 1528px;
  white-space: nowrap;
}

.product-spesific .created-by {
  -webkit-text-stroke: 1px var(--black);
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 140px;
  margin-top: 106px;
  min-height: 56px;
  white-space: nowrap;
}

.product-spesific .gruppe-55 {
  align-self: flex-start;
  display: flex;
  height: 49px;
  margin-left: 137px;
  margin-top: 10px;
  width: 389px;
}

.product-spesific .thomas-d-hofsttter {
  -webkit-text-stroke: 1px var(--white-2);
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-malgungothic-regular);
  font-size: 37px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: -8px;
  margin-right: -2px;
  margin-top: 6px;
  white-space: nowrap;
  width: 389px;
}

.product-spesific .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 208px;
  min-width: 1741px;
  width: auto;
}

.product-spesific .overlap-group-1 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.product-spesific .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.product-spesific .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.product-spesific .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.product-spesific .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.product-spesific .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.product-spesific .linie-2 {
  height: 240px;
  left: 868px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 3px;
}

.product-spesific .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}
