<app-navbar></app-navbar>

<br />
<br />

<div class="flex-container">
  <div class="left-side">
    <p class="bold">Login</p>

    <br />
    <br />

    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input class="input" matInput [(ngModel)]="email" name="email" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          class="input"
          [(ngModel)]="password"
          type="password"
          name="password"
        />
      </mat-form-field>

      <br />
      <button class="button" mat-raised-button (click)="login()">login</button>
      <br />

      <br />
    </form>
    <a class="text" routerLink="/sign-up">No Account? Create one</a>
  </div>

  <img class="img-size" src="../../assets/Images/login@1x.png" />
</div>
<app-footer></app-footer>
