.product {
  display: flex;
  justify-content: space-around;
  border: 0.1vw solid #ddd;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 5vw;
  padding-left: 0.5vw;
  margin-bottom: 1vw;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  border-radius: 1vw;
}

img {
  width: 9vw;
  height: auto;
  padding-right: 1vw;
  border-radius: 1vw;
  padding-left: 3%;
  padding-top: 3%;
}

.price {
  font-weight: bold;
  padding-left: 3%;
}

.title{
  font-size: 1.5vw;
  padding-left: 5%;
  padding-top: 3%;
}

.description{
  padding-left: 3%;
}

.columnOne{
  display: flex;
  flex-direction: row;
}
.columnTwo{
  display: flex;
  flex-direction: row;
}
.columnThree{
  display: flex;
  flex-direction: row;
}
