/* screen - about-us */

.about-us {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2206px;
  width: 1920px;
}

.about-us .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.about-us .overlap-group1 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.about-us .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.about-us .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.about-us .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.about-us .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.about-us .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.about-us .title {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 70px;
  margin-right: 105.0px;
  margin-top: 152px;
  min-height: 95px;
  min-width: 301px;
  white-space: nowrap;
}

.about-us .gruppe-106 {
  align-items: flex-end;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  height: 1148px;
  margin-left: 1.0px;
  margin-top: 40px;
  min-width: 1741px;
  padding: 0 149px;
}

.about-us .overlap-group2 {
  height: 1060px;
  margin-bottom: -73px;
  position: relative;
  width: 1413px;
}

.about-us .the-concept-the-ba {
  -webkit-text-stroke: 1px var(--gallery);
  color: var(--gallery);
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-us .brainstorm {
  height: 348px;
  left: 1064px;
  object-fit: cover;
  position: absolute;
  top: 441px;
  width: 348px;
}

.about-us .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 118px;
  min-width: 1741px;
  width: auto;
}

.about-us .overlap-group {
  height: 373px;
  position: relative;
  width: 1741px;
}

.about-us .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.about-us .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.about-us .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.about-us .about {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.about-us .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.about-us .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.about-us .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.about-us .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}
