/* screen - cart */

.cart {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2808px;
  width: 1920px;
}

.cart .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.cart .overlap-group3 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.cart .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.cart .x231-2317666_cart-ico {
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.cart .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.cart .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.cart .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.cart .overlap-group4 {
  height: 1494px;
  margin-top: 96px;
  position: relative;
  width: 1741px;
}

.cart .tile {
  -webkit-text-stroke: 1px var(--white);
  left: 60px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.cart .product-in-cart {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 34px;
  left: 0;
  min-height: 1426px;
  padding: 74.4px 63.8px;
  position: absolute;
  top: 58px;
  width: 1741px;
}

.cart .overlap-group {
  height: 598px;
  position: relative;
  width: 1214px;
}

.cart .background {
  cursor: pointer;
  height: 598px;
  width: 1214px;
}

.cart .rechteck-51 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  height: 59px;
  left: 757px;
  position: absolute;
  top: 448px;
  width: 197px;
}

.cart .remove {
  -webkit-text-stroke: 1px var(--black);
  left: 782px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 455px;
  white-space: nowrap;
}

.cart .text {
  -webkit-text-stroke: 1px var(--gallery);
  left: 1023px;
  line-height: 60px;
  position: absolute;
  top: 432px;
}

.cart .bild-22 {
  height: 350px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 170px;
  width: 608px;
}

.cart .key-featurespacka {
  -webkit-text-stroke: 1px var(--gallery);
  left: 767px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.cart .amount {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 56px;
  left: 762px;
  min-width: 103px;
  padding: 0 33px;
  position: absolute;
  top: 338px;
}

.cart .number {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -7px;
  min-height: 56px;
  min-width: 24px;
  white-space: nowrap;
}

.cart .auto-admin-pro {
  -webkit-text-stroke: 1px var(--gallery);
  left: 80px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.cart .total {
  align-items: flex-end;
  background-image: url(../img/background-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 95px;
  justify-content: space-between;
  left: 68px;
  position: absolute;
  top: 1399px;
  width: 1209px;
}

.cart .total-1 {
  -webkit-text-stroke: 1px var(--white);
  height: 56px;
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: -16.5px;
  margin-left: 89.7px;
  white-space: nowrap;
  width: 92px;
}

.cart .text-5 {
  -webkit-text-stroke: 1px var(--white);
  height: 56px;
  line-height: 40px;
  margin-bottom: -16.5px;
  margin-right: 135.8px;
  width: 93px;
}

.cart .wiederholungsraster-10 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-left: 158px;
  margin-top: 19px;
  min-height: 150px;
  padding: 0 5px;
  width: 1133px;
}

.cart .x0 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  margin-top: 67px;
  min-width: 737px;
}

.cart .gruppe-33 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 79px;
  min-width: 349px;
}

.cart .overlap-group-1 {
  height: 83px;
  margin-bottom: -4px;
  position: relative;
  width: 349px;
}

.cart .pfad-38 {
  cursor: pointer;
  height: 79px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 349px;
}

.cart .buy-as-guest {
  -webkit-text-stroke: 1px var(--black);
  left: 24px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.cart .gruppe-34 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 79px;
  width: 360px;
}

.cart .login {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 50px;
  margin-bottom: -4px;
  margin-left: 24px;
  margin-top: 15px;
  white-space: nowrap;
  width: 215px;
}

.cart .x1 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  min-width: 737px;
}

.cart .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-right: 13.0px;
  margin-top: 540px;
  min-width: 1741px;
  width: auto;
}

.cart .overlap-group2 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.cart .background-1 {
  height: 349px;
  width: 1741px;
}

.cart .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.cart .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.cart .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.cart .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.cart .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.cart .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.cart .background-2 {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.cart .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.cart .text-1 {
  letter-spacing: 0;
  white-space: nowrap;
}
