/* screen - contact-cutomer */

.contact-cutomer {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 3140px;
  width: 1920px;
}

.contact-cutomer .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.contact-cutomer .overlap-group1 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.contact-cutomer .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.contact-cutomer .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.contact-cutomer .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.contact-cutomer .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.contact-cutomer .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.contact-cutomer .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/background-34@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 106px;
  min-height: 2415px;
  padding: 62.5px 119px;
  width: 1741px;
}

.contact-cutomer .title {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 70px;
  margin-left: 13px;
  min-height: 95px;
  white-space: nowrap;
}

.contact-cutomer .place {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 13px;
  margin-top: 60px;
  min-height: 68px;
  white-space: nowrap;
}

.contact-cutomer .textbox-description {
  align-self: center;
  background-image: url(../img/pfad-46@1x.png);
  height: 414px;
  width: 1495px;
}

.contact-cutomer .write-any-question-y {
  -webkit-text-stroke: 1px var(--black);
  height: 42px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 87px;
  margin-top: 29px;
  opacity: 0.52;
  white-space: nowrap;
  width: 852px;
}

.contact-cutomer .git-link {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 74px;
  min-height: 68px;
  white-space: nowrap;
}

.contact-cutomer .textbox-git {
  align-items: flex-end;
  background-image: url(../img/pfad-13@1x.png);
  height: 98px;
  min-width: 630px;
  padding: 22px 52px;
}

.contact-cutomer .gitlinkcom {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 30px;
  min-height: 42px;
  min-width: 150px;
  opacity: 0.52;
  white-space: nowrap;
}

.contact-cutomer .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 44px;
  height: 200px;
  margin-top: 180px;
  min-width: 630px;
}

.contact-cutomer .i-accept-that-my-pro {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 200px;
  min-width: 536px;
  white-space: nowrap;
}

.contact-cutomer .komponente-30-2 {
  margin-bottom: 26px;
}

.contact-cutomer .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 72px;
  height: 383px;
  margin-left: 4px;
  margin-top: 24px;
  min-width: 972px;
}

.contact-cutomer .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 210px;
  min-height: 383px;
  width: 450px;
}

.contact-cutomer .acept-agb {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 9px;
  min-height: 68px;
  white-space: nowrap;
}

.contact-cutomer .button-submit {
  background-image: url(../img/pfad-43-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  padding: 14px 157px;
}

.contact-cutomer .place-1 {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 115px;
  white-space: nowrap;
}

.contact-cutomer .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 228px;
  min-height: 383px;
  width: 450px;
}

.contact-cutomer .komponente-30-1 {
  margin-left: 54px;
}

.contact-cutomer .button-cancel {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 27px;
  padding: 15px 149px;
}

.contact-cutomer .cancel {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 151px;
  white-space: nowrap;
}

.contact-cutomer .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 82px;
  min-width: 1741px;
  width: auto;
}

.contact-cutomer .overlap-group {
  height: 373px;
  position: relative;
  width: 1741px;
}

.contact-cutomer .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.contact-cutomer .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.contact-cutomer .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.contact-cutomer .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.contact-cutomer .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.contact-cutomer .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.contact-cutomer .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.contact-cutomer .button {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 105px;
  min-width: 450px;
}

.contact-cutomer .komponente-30 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.contact-cutomer .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.contact-cutomer .textbox {
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 56px;
}
