/* screen - create-product-message */

.create-product-message {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1216px;
  width: 1920px;
}

.create-product-message .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.create-product-message .overlap-group1 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.create-product-message .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.create-product-message .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.create-product-message .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.create-product-message .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.create-product-message .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.create-product-message .flex-row {
  gap: 194px;
  height: 366px;
  margin-left: 52.0px;
  margin-top: 71px;
  min-width: 1558px;
}

.create-product-message .flex-col {
  align-self: flex-end;
  flex-direction: column;
  gap: 68px;
  min-height: 268px;
  width: 1006px;
}

.create-product-message .title {
  -webkit-text-stroke: 1px var(--gallery);
  align-self: flex-end;
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 70px;
  min-height: 95px;
  min-width: 991px;
  white-space: nowrap;
}

.create-product-message .gruppe-6 {
  align-items: flex-end;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 105px;
  min-width: 450px;
  padding: 12px 121px;
}

.create-product-message .clean {
  border-radius: 256px;
  height: 358px;
  object-fit: cover;
  width: 358px;
}

.create-product-message .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 264px;
  min-width: 1741px;
  width: auto;
}

.create-product-message .overlap-group {
  height: 373px;
  position: relative;
  width: 1741px;
}

.create-product-message .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.create-product-message .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.create-product-message .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.create-product-message .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.create-product-message .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.create-product-message .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.create-product-message .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.create-product-message .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}
