/* screen - create-acount */

.create-acount {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2542px;
  width: 1920px;
}

.create-acount .navbar {
  align-items: flex-end;
  display: flex;
  height: 118px;
  min-width: 1920px;
}

.create-acount .overlap-group14 {
  height: 132px;
  margin-bottom: -13.0px;
  position: relative;
  width: 1920px;
}

.create-acount .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.create-acount .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.create-acount .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.create-acount .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.create-acount .requests {
  -webkit-text-stroke: 1px var(--white);
  color: var(--coconut);
  cursor: pointer;
  font-family: var(--font-family-malgungothic-regular);
  font-size: 34px;
  font-weight: 400;
  left: 1414px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.create-acount .gruppe-108 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 92px;
  min-height: 1886px;
  padding: 64.5px 131px;
  width: 1741px;
}

.create-acount .title {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 70px;
  min-height: 95px;
  white-space: nowrap;
}

.create-acount .registration {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 70px;
  min-height: 68px;
  white-space: nowrap;
}

.create-acount .tobefield-fields {
  align-items: flex-start;
  display: flex;
  gap: 108px;
  height: 558px;
  margin-top: 44px;
  min-width: 1368px;
}

.create-acount .overlap-group-container-1 {
  flex-direction: column;
  gap: 53px;
  min-height: 558px;
  width: 630px;
}

.create-acount .overlap-group {
  align-items: flex-end;
  background-image: url(../img/pfad-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 98px;
  min-width: 630px;
  padding: 28.6px 78px;
}

.create-acount .komponente {
  display: flex;
  height: 40px;
  width: 134px;
}

.create-acount .komponente-31-1 {
  display: flex;
  height: 40px;
  width: 175px;
}

.create-acount .displayname {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 175px;
}

.create-acount .komponente-33-1 {
  display: flex;
  height: 40px;
  width: 129px;
}

.create-acount .password {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 129px;
}

.create-acount .overlap-group5 {
  height: 105px;
  position: relative;
  width: 630px;
}

.create-acount .rechteck-34 {
  height: 98px;
  width: 630px;
}

.create-acount .komponente-34-1 {
  display: flex;
  height: 80px;
  left: 78px;
  position: absolute;
  top: 25px;
  width: 234px;
}

.create-acount .repeat-password {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -12px;
  margin-right: -2px;
  margin-top: 10px;
  opacity: 0.52;
  white-space: nowrap;
  width: 234px;
}

.create-acount .overlap-group-container {
  flex-direction: column;
  gap: 53px;
  min-height: 249px;
  width: 630px;
}

.create-acount .overlap-group-1 {
  background-image: url(../img/pfad-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 98px;
  min-width: 630px;
  padding: 25.4px 78px;
}

.create-acount .komponente-3 {
  display: flex;
  height: 40px;
  width: 131px;
}

.create-acount .komponente-32-1 {
  display: flex;
  height: 40px;
  width: 74px;
}

.create-acount .shipping-adress {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 61px;
  min-height: 68px;
  white-space: nowrap;
}

.create-acount .tobefield-fields-1 {
  align-items: flex-start;
  display: flex;
  gap: 108px;
  height: 400px;
  margin-top: 43px;
  min-width: 1368px;
}

.create-acount .overlap-group-container-2 {
  flex-direction: column;
  gap: 53px;
  min-height: 400px;
  width: 630px;
}

.create-acount .overlap-group-2 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  height: 98px;
  min-width: 630px;
  padding: 28px 77px;
}

.create-acount .komponente-37-1 {
  display: flex;
  height: 40px;
  width: 82px;
}

.create-acount .place {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 82px;
}

.create-acount .komponente-39-1 {
  display: flex;
  height: 40px;
  width: 105px;
}

.create-acount .overlap-group-3 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  height: 98px;
  min-width: 630px;
  padding: 24px 77px;
}

.create-acount .komponente-38-1 {
  display: flex;
  height: 40px;
  width: 72px;
}

.create-acount .place-1 {
  flex: 1;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  width: 72px;
}

.create-acount .overlap-group-container-3 {
  gap: 132px;
  margin-left: 1px;
  margin-top: 219px;
  min-width: 1032px;
}

.create-acount .overlap-group11 {
  border-radius: 20px;
  height: 105px;
  position: relative;
  width: 450px;
}

.create-acount .rechteck-24 {
  cursor: pointer;
  height: 105px;
  width: 450px;
}

.create-acount .place-2 {
  left: 140px;
  line-height: 50px;
  position: absolute;
  top: 23px;
}

.create-acount .overlap-group12 {
  align-items: flex-end;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 20px;
  display: flex;
  height: 105px;
  min-width: 450px;
  padding: 15px 149px;
}

.create-acount .cancel {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 151px;
  white-space: nowrap;
}

.create-acount .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1741px;
  width: auto;
}

.create-acount .overlap-group13 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.create-acount .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.create-acount .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.create-acount .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.create-acount .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.create-acount .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.create-acount .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.create-acount .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.create-acount .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.create-acount .overlap-group-4 {
  align-items: flex-start;
  display: flex;
}

.create-acount .place-3 {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  white-space: nowrap;
}

.create-acount .rechteck {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
