/* screen - create-product */

.create-product {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2681px;
  width: 1920px;
}

.create-product .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.create-product .overlap-group1 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.create-product .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.create-product .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.create-product .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.create-product .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.create-product .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.create-product .overlap-group2 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 90px;
  min-height: 2005px;
  padding: 67px 131px;
  width: 1741px;
}

.create-product .title {
  -webkit-text-stroke: 1px var(--gallery);
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 70px;
  margin-top: 10px;
  min-height: 95px;
  white-space: nowrap;
}

.create-product .overlap-group7 {
  align-items: flex-end;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 111px;
  margin-left: 3px;
  margin-top: 36px;
  min-width: 630px;
  padding: 35px 77px;
}

.create-product .komponente-51-1 {
  display: flex;
  height: 40px;
  width: 199px;
}

.create-product .product-name {
  flex: 1;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  width: 199px;
}

.create-product .overlap-group3 {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 111px;
  margin-left: 3px;
  margin-top: 67px;
  min-width: 630px;
  padding: 32px 77px;
}

.create-product .komponente-52-1 {
  display: flex;
  height: 40px;
  width: 65px;
}

.create-product .tags {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 65px;
}

.create-product .overlap-group4 {
  align-self: center;
  height: 259px;
  margin-right: 1.0px;
  margin-top: 48px;
  position: relative;
  width: 1473px;
}

.create-product .product-description {
  left: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
}

.create-product .pfad-40 {
  height: 206px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 1473px;
}

.create-product .komponente-53-1 {
  display: flex;
  height: 40px;
  left: 74px;
  position: absolute;
  top: 95px;
  width: 272px;
}

.create-product .product-description-1 {
  -webkit-text-stroke: 1px var(--gallery);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 272px;
}

.create-product .overlap-group5 {
  align-items: flex-end;
  align-self: center;
  background-image: url(../img/pfad-41@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 129px;
  min-height: 595px;
  padding: 57px 530px;
  width: 1473px;
}

.create-product .upload {
  height: 391px;
  margin-top: 12px;
  object-fit: cover;
  width: 391px;
}

.create-product .drag-your-files-here {
  -webkit-text-stroke: 1px var(--black);
  align-self: center;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 2.0px;
  min-height: 56px;
  min-width: 371px;
  white-space: nowrap;
}

.create-product .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 61px;
  height: 68px;
  margin-left: 17px;
  margin-top: 185px;
  min-width: 382px;
}

.create-product .komponente-30-5 {
  background-color: #110202;
  border: 4px solid;
  border-color: var(--white);
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.create-product .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 132px;
  margin-left: 1px;
  margin-top: 51px;
  min-width: 1032px;
}

.create-product .gruppe-6 {
  align-items: flex-end;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 105px;
  min-width: 450px;
  padding: 15px 139px;
}

.create-product .submit {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 162px;
  white-space: nowrap;
}

.create-product .overlap-group6 {
  border-radius: 20px;
  height: 105px;
  position: relative;
  width: 450px;
}

.create-product .rechteck-47 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 20px;
  cursor: pointer;
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 450px;
}

.create-product .cancel {
  -webkit-text-stroke: 1px var(--gallery);
  cursor: pointer;
  left: 150px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.create-product .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1741px;
  width: auto;
}

.create-product .overlap-group {
  height: 373px;
  position: relative;
  width: 1741px;
}

.create-product .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.create-product .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.create-product .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.create-product .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.create-product .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.create-product .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.create-product .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.create-product .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.create-product .product {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  white-space: nowrap;
}
