@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/65e07845f39b39770e6ccc10.65e07846f39b39770e6ccc13.j8ZYU5v.hcp.png");

@font-face {
  font-family: "MalgunGothic-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/malgun.ttf") format("truetype");
}
@font-face {
  font-family: "MalgunGothic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Malgun Gothic Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NirmalaUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nirmala.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

* {
  box-sizing: border-box;
}

.icon-black {
  height: 70px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 59px;
}

.blackbackground {
  background-color: var(--licorice);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.products {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1238px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.x629578-200 {
  height: 65px;
  left: 1592px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 65px;
}

.icon-white {
  background-image: url(../img/icon-white-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  margin-right: 31px;
  width: 67px;
}

.impressum {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 37px;
  min-height: 48px;
  white-space: nowrap;
}

.terms-conditions {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 4px;
  margin-top: 44px;
  min-height: 94px;
  white-space: nowrap;
}

.blog {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  height: 48px;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 85px;
}

.filter-1 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 323px;
  padding: 27px 42px;
  width: 333px;
}

.filter-automation-scripts {
  display: flex;
  gap: 27px;
  height: 25px;
  justify-content: flex-end;
  margin-top: 13px;
  width: 191px;
}

.rechteck-70 {
  background-color: var(--white);
  border: 1px solid;
  border-radius: 8px;
  flex: 1;
}

.automation-scripts {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -3.5px;
  margin-right: -2px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 141px;
}

.gruppe-27 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 160px;
  position: absolute;
  top: 0;
  width: 190px;
}

.filter-web-template {
  align-self: flex-start;
  display: flex;
  height: 25px;
  justify-content: space-between;
  width: 158px;
}

.web-template {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -3.5px;
  margin-right: -2px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 108px;
}

.framework {
  -webkit-text-stroke: 1px var(--white);
  align-self: center;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 8.0px;
  margin-top: 14px;
  min-height: 23px;
  min-width: 82px;
  white-space: nowrap;
}

.setup-scripts {
  -webkit-text-stroke: 1px var(--white);
  align-self: center;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 7.0px;
  margin-top: 11px;
  min-height: 23px;
  min-width: 97px;
  white-space: nowrap;
}

.backend-solutions {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 5px;
  margin-top: 11px;
  min-height: 23px;
  min-width: 135px;
  white-space: nowrap;
}

.frontend-solutions {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 11px;
  min-height: 23px;
  min-width: 140px;
  white-space: nowrap;
}

.filter-2 {
  align-items: flex-end;
  background-image: url(../img/pfad-35-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 198px;
  min-width: 333px;
  padding: 19px 24px;
}

.linie-1 {
  height: 1px;
  left: 12px;
  top: 10px;
  width: 242px;
}

.ellipse-7 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.pfad-33 {
  height: 24px;
  left: 248px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 24px;
}

.gruppe-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 225px;
  min-height: 47px;
  position: absolute;
  top: 17px;
  width: 33px;
}

.polygon-1 {
  height: 23px;
  object-fit: cover;
  width: 33px;
}

.gruppe-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 23px;
  min-height: 47px;
  position: absolute;
  top: 16px;
  width: 33px;
}

.min {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 8px;
  min-height: 13px;
  min-width: 16px;
  white-space: nowrap;
}

.filter-2-1 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-left: 2px;
  min-height: 161px;
  padding: 31px 29px;
  width: 333px;
}

.gruppe-3 {
  display: flex;
  height: 24px;
  width: 115px;
}

.gruppe-4 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 117px;
}

.ellipse-20 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.enable {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -1px;
  margin-left: 6px;
  min-height: 20px;
  min-width: 44px;
  white-space: nowrap;
}

.filter-1-1 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  height: 289px;
  width: 333px;
}

.pfad-5 {
  height: 23px;
  object-fit: cover;
  width: 25px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.overlap-group-container-4 {
  align-items: flex-start;
  display: flex;
}

.python-logo-png-this {
  height: 76px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 108px;
}

.gruppe {
  display: flex;
  position: absolute;
}

.no-account-create-one {
  -webkit-text-stroke: 1px var(--gallery);
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 339px;
}

.accept-agb {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 271px;
  white-space: nowrap;
}

.test-setting1 {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 50px;
  margin-bottom: -10px;
  margin-right: -2px;
  margin-top: 8px;
  white-space: nowrap;
  width: 299px;
}

.firstname {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 134px;
}

.lastname {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 131px;
}

.email {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 74px;
}

.country {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 105px;
}

.continue {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 207px;
  white-space: nowrap;
}

.continue-browsing {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 424px;
  white-space: nowrap;
}

.navbar-container {
  height: 108px;
  position: relative;
  width: 1920px;
}

.order-number-9832426 {
  left: 46px;
  position: absolute;
  top: 36px;
}

.gruppe-94 {
  align-items: flex-start;
  cursor: pointer;
  height: 71px;
  left: 1299px;
  min-width: 194px;
  top: 314px;
}

.inspect {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 50px;
  margin-bottom: -10px;
  margin-right: -2px;
  margin-top: 8px;
  white-space: nowrap;
  width: 163px;
}

.order-number-12456543 {
  align-self: flex-end;
  min-height: 68px;
  min-width: 602px;
}

.bild-61 {
  height: 280px;
  object-fit: cover;
  width: 399px;
}

.status-delivered {
  min-height: 68px;
}

.order-number-0987352 {
  align-self: flex-end;
  min-height: 68px;
  min-width: 575px;
}

.bild-62 {
  height: 270px;
  object-fit: cover;
  width: 404px;
}

.overlap-group7-item {
  -webkit-text-stroke: 1px var(--gallery);
  left: 36px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 117px;
  white-space: nowrap;
}

.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.order-number {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.status {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.pr-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 136px;
  margin-left: 27px;
  min-height: 602px;
  width: 535px;
}

.pr-container-item {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  min-height: 233px;
  white-space: nowrap;
}

.linie-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 204px;
  margin-bottom: 9.5px;
  margin-left: 76px;
  min-height: 504px;
  width: 8px;
}

.date-of-purchase-20 {
  -webkit-text-stroke: 1px var(--white);
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 469px;
  white-space: nowrap;
}

.date-of-purchase-20-1 {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 35px;
  min-height: 94px;
  white-space: nowrap;
}