/* screen - purchase-history-extended */

.purchase-history-extended {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2432px;
  width: 1920px;
}

.purchase-history-extended .navbar {
  align-items: flex-start;
  display: flex;
  height: 108px;
  left: 0;
  min-width: 1920px;
  position: absolute;
  top: 0;
}

.purchase-history-extended .overlap-group5 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.purchase-history-extended .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.purchase-history-extended .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.purchase-history-extended .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.purchase-history-extended .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.purchase-history-extended .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.purchase-history-extended .overlap-group6 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.purchase-history-extended .flex-row {
  gap: 23px;
  height: 1748px;
  margin-right: 14px;
  margin-top: 8px;
  min-width: 1816px;
}

.purchase-history-extended .flex-col {
  align-self: flex-end;
  flex-direction: column;
  min-height: 1612px;
  width: 1526px;
}

.purchase-history-extended .tile {
  -webkit-text-stroke: 1px var(--botticelli);
  letter-spacing: 0;
  line-height: 57px;
  min-height: 78px;
  white-space: nowrap;
}

.purchase-history-extended .overlap-group3 {
  height: 421px;
  margin-top: 154px;
  position: relative;
  width: 1526px;
}

.purchase-history-extended .background-1 {
  cursor: pointer;
  height: 421px;
  width: 1526px;
}

.purchase-history-extended .status-delivery {
  left: 993px;
  position: absolute;
  top: 36px;
}

.purchase-history-extended .overlap-group-1 {
  height: 71px;
  position: relative;
  width: 194px;
}

.purchase-history-extended .background {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 30px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 194px;
}

.purchase-history-extended .buttons {
  display: flex;
  height: 66px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 163px;
}

.purchase-history-extended .overlap-group1 {
  border-radius: 30px;
  height: 263px;
  left: 619px;
  position: absolute;
  top: 114px;
  width: 387px;
}

.purchase-history-extended .product-pannel {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery-2);
  border-radius: 30px;
  display: flex;
  gap: 30px;
  height: 263px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 387px;
}

.purchase-history-extended .bild-18 {
  border-radius: 20px;
  flex: 1;
  margin-bottom: 156px;
  margin-left: 27px;
  margin-top: 43px;
  object-fit: cover;
}

.purchase-history-extended .data-dynamoscript {
  -webkit-text-stroke: 1px var(--white);
  height: 94px;
  letter-spacing: 0;
  line-height: 35px;
  margin-right: 22px;
  margin-top: -34.5px;
  white-space: nowrap;
  width: 208px;
}

.purchase-history-extended .data-analyze-dat {
  -webkit-text-stroke: 1px var(--white);
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 194px;
  white-space: nowrap;
}

.purchase-history-extended .backup-and-rollback {
  -webkit-text-stroke: 1px var(--white);
  left: 188px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 198px;
  white-space: nowrap;
}

.purchase-history-extended .price-chf-40 {
  left: 34px;
  top: 160px;
}

.purchase-history-extended .overlap-group2 {
  border-radius: 30px;
  height: 271px;
  left: 46px;
  position: absolute;
  top: 114px;
  width: 387px;
}

.purchase-history-extended .package-management {
  -webkit-text-stroke: 1px var(--white);
  left: 23px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 192px;
  white-space: nowrap;
}

.purchase-history-extended .logging-and-notifi {
  -webkit-text-stroke: 1px var(--white);
  left: 177px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.purchase-history-extended .price-chf-25 {
  left: 23px;
  top: 158px;
}

.purchase-history-extended .bakcground {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray-2);
  border-radius: 30px;
  height: 271px;
  left: 0;
  position: absolute;
  top: 0;
  width: 387px;
}

.purchase-history-extended .auto-adminpro {
  -webkit-text-stroke: 1px var(--white);
  left: 177px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.purchase-history-extended .bild-22 {
  border-radius: 20px;
  height: 83px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 130px;
}

.purchase-history-extended .overlap-group8 {
  border-radius: 30px;
  height: 421px;
  margin-top: 58px;
  position: relative;
  width: 1526px;
}

.purchase-history-extended .settings {
  display: flex;
  height: 66px;
  left: 26px;
  position: absolute;
  top: 126px;
  width: 299px;
}

.purchase-history-extended .oders {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 30px;
  display: flex;
  gap: 345px;
  height: 421px;
  justify-content: flex-end;
  left: 0;
  min-width: 1526px;
  padding: 34.0px 33px;
  position: absolute;
  top: 0;
}

.purchase-history-extended .flex-col-1 {
  gap: 2px;
  margin-top: 1.0px;
  min-height: 350px;
  width: 610px;
}

.purchase-history-extended .flex-col-2 {
  align-self: flex-end;
  gap: 212px;
  min-height: 351px;
  width: 500px;
}

.purchase-history-extended .overlap-group {
  align-self: flex-end;
  height: 71px;
  position: relative;
  width: 194px;
}

.purchase-history-extended .oders-1 {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 30px;
  display: flex;
  gap: 372px;
  height: 421px;
  margin-top: 58px;
  min-width: 1526px;
  padding: 27.0px 26px;
}

.purchase-history-extended .flex-col-3 {
  gap: 14px;
  margin-top: 3.0px;
  min-height: 352px;
  width: 595px;
}

.purchase-history-extended .flex-col-4 {
  align-self: flex-end;
  gap: 219px;
  min-height: 358px;
  width: 500px;
}

.purchase-history-extended .overlap-group7 {
  border-radius: 43px;
  height: 483px;
  position: relative;
  width: 267px;
}

.purchase-history-extended .rechteck-66 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 43px;
  height: 483px;
  left: 0;
  position: absolute;
  top: 0;
  width: 267px;
}

.purchase-history-extended .name {
  -webkit-text-stroke: 1px var(--gallery);
  left: 28px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.purchase-history-extended .logout {
  -webkit-text-stroke: 1px var(--gallery);
  cursor: pointer;
  left: 28px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
}

.purchase-history-extended .purchase-history {
  -webkit-text-stroke: 1px var(--gallery);
  left: 28px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.purchase-history-extended .footer {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-right: 49.0px;
  margin-top: 136px;
  min-width: 1741px;
  width: auto;
}

.purchase-history-extended .overlap-group4 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.purchase-history-extended .background-2 {
  height: 349px;
  width: 1741px;
}

.purchase-history-extended .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.purchase-history-extended .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.purchase-history-extended .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.purchase-history-extended .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.purchase-history-extended .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.purchase-history-extended .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.purchase-history-extended .background-3 {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.purchase-history-extended .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.purchase-history-extended .price-chf {
  -webkit-text-stroke: 1px var(--white);
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  white-space: nowrap;
}
