/* screen - request-service */

.request-service {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2548px;
  width: 1920px;
}

.request-service .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.request-service .overlap-group3 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.request-service .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.request-service .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.request-service .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.request-service .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.request-service .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.request-service .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/background-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 91px;
  min-height: 1853px;
  padding: 77.2px 111.5px;
  width: 1741px;
}

.request-service .title {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 70px;
  margin-left: 21.0px;
  min-height: 95px;
  white-space: nowrap;
}

.request-service .title-1 {
  -webkit-text-stroke: 1px var(--gallery);
  line-height: 50px;
  margin-left: 21.0px;
  margin-top: 56px;
  min-height: 68px;
}

.request-service .textbox-display-name {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 98px;
  margin-left: 21.0px;
  margin-top: 51px;
  width: 630px;
}

.request-service .komponente-40-1 {
  display: flex;
  height: 40px;
  margin-left: 78px;
  margin-top: 28px;
  width: 59px;
}

.request-service .title-2 {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  width: 59px;
}

.request-service .description {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 21.0px;
  margin-top: 69px;
  min-height: 68px;
  white-space: nowrap;
}

.request-service .textbox-description {
  align-self: center;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 414px;
  margin-left: 1.0px;
  margin-top: 64px;
  width: 1495px;
}

.request-service .describe-what-the-sc {
  -webkit-text-stroke: 1px var(--black);
  height: 42px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 66px;
  margin-top: 29px;
  opacity: 0.52;
  white-space: nowrap;
  width: 632px;
}

.request-service .overlap-group4-item {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 21.0px;
  margin-top: 46px;
  min-height: 68px;
  white-space: nowrap;
}

.request-service .textbox-tags {
  background-image: url(../img/pfad-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 98px;
  margin-left: 21.0px;
  margin-top: 23px;
  width: 630px;
}

.request-service .komponente-43-1 {
  display: flex;
  height: 40px;
  margin-left: 52px;
  margin-top: 29px;
  width: 65px;
}

.request-service .tags {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 65px;
}

.request-service .reward-texbox {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 98px;
  margin-left: 21.0px;
  margin-top: 23px;
  width: 630px;
}

.request-service .komponente-42-1 {
  display: flex;
  height: 40px;
  margin-left: 52px;
  margin-top: 28px;
  width: 70px;
}

.request-service .text-7 {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 70px;
}

.request-service .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 99px;
  height: 68px;
  margin-left: 21.0px;
  margin-top: 55px;
  min-width: 420px;
}

.request-service .komponente-30-4 {
  background-color: #110202;
  border: 4px solid;
  border-color: var(--white);
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.request-service .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 72px;
  margin-top: 6px;
  min-width: 972px;
}

.request-service .overlap-group1 {
  height: 105px;
  position: relative;
  width: 450px;
}

.request-service .pfad-43 {
  cursor: pointer;
  height: 105px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 450px;
}

.request-service .submit {
  -webkit-text-stroke: 1px var(--black);
  left: 145px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.request-service .button-cancel {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 450px;
}

.request-service .overlap-group {
  border-radius: 27px;
  height: 105px;
  position: relative;
  width: 450px;
}

.request-service .rechteck-25 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 27px;
  cursor: pointer;
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 450px;
}

.request-service .cancel {
  -webkit-text-stroke: 1px var(--gallery);
  left: 151px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.request-service .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 79px;
  min-width: 1741px;
  width: auto;
}

.request-service .overlap-group2 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.request-service .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.request-service .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.request-service .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.request-service .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.request-service .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.request-service .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.request-service .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.request-service .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.request-service .title-3 {
  letter-spacing: 0;
  white-space: nowrap;
}
