:root { 
  --black: #000000;
  --black-2: #00000080;
  --botticelli: #c6dee6;
  --coconut: #fcfcfd;
  --desert-storm: #f8f8f8;
  --dove-gray: #707070;
  --dove-gray-2: #6a6a6a;
  --gallery: #eeeeee;
  --gallery-2: #eeeeee80;
  --licorice: #121212;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 40px;
  --font-size-m: 35px;
  --font-size-s: 30px;
  --font-size-xl: 50px;
  --font-size-xs: 20px;
  --font-size-xxl: 70px;
  --font-size-xxs: 15px;
 
  --font-family-malgun_gothic: "Malgun Gothic", Helvetica;
  --font-family-malgungothic-bold: "MalgunGothic-Bold", Helvetica;
  --font-family-malgungothic-regular: "MalgunGothic-Regular", Helvetica;
  --font-family-nirmalaui-regular: "NirmalaUI-Regular", Helvetica;
}
.malgungothic-regular-normal-white-35px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-coconut-37px {
  color: var(--coconut);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-black-50px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-desert-storm-15px {
  color: var(--desert-storm);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-50px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-white-35px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-xs);
}

.malgungothic-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-25px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-desert-storm-35px {
  color: var(--desert-storm);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-35px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-70px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-gallery-35px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-33px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-white-33px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
}

.malgungothic-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-white-50px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-gallery-40px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-xl);
}

.malgungothic-regular-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-47px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-black-70px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-gallery-30px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-57px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-8px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-60px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-regular-normal-gallery-20px {
  color: var(--gallery);
  font-family: var(--font-family-malgungothic-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.malgungothic-bold-white-67px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
}

.malgungothic-bold-black-50px {
  color: var(--black);
  font-family: var(--font-family-malgungothic-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-bold-white-45px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.malgungothic-regular-normal-white-45px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
