/* screen - terms-conditions */

.terms-conditions {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 5320px;
  width: 1920px;
}

.terms-conditions .overlap-group {
  height: 108px;
  position: relative;
  width: 1920px;
}

.terms-conditions .navbar {
  align-items: flex-start;
  display: flex;
  height: 108px;
  left: 0;
  min-width: 1920px;
  position: absolute;
  top: 0;
}

.terms-conditions .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.terms-conditions .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.terms-conditions .gruppe-22 {
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.terms-conditions .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.terms-conditions .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.terms-conditions .title {
  -webkit-text-stroke: 1px var(--black);
  color: var(--white);
  font-family: var(--font-family-malgungothic-bold);
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 90px;
  margin-left: 223.0px;
  margin-top: 141px;
  min-height: 122px;
  min-width: 865px;
  white-space: nowrap;
}

.terms-conditions .gruppe-58 {
  align-items: flex-end;
  display: flex;
  height: 4221px;
  margin-top: 102px;
  min-width: 1726px;
}

.terms-conditions .overlap-group1 {
  height: 4527px;
  margin-bottom: -306px;
  position: relative;
  width: 1726px;
}

.terms-conditions .rechteck-71 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 30px;
  height: 4221px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1726px;
}

.terms-conditions .auto-script-shop-terms {
  -webkit-text-stroke: 1px var(--white);
  color: var(--white);
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 128px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 568px;
  white-space: nowrap;
}

.terms-conditions .span0 {
  font-family: var(--font-family-malgungothic-regular);
}

.terms-conditions .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1.0px;
  margin-top: 146px;
  min-width: 1741px;
  width: auto;
}

.terms-conditions .overlap-group2 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.terms-conditions .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.terms-conditions .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.terms-conditions .gruppe-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.terms-conditions .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.terms-conditions .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.terms-conditions .terms-conditions-1 {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 4px;
  margin-top: 44px;
  min-height: 94px;
  white-space: nowrap;
}

.terms-conditions .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.terms-conditions .gruppe-49 {
  display: flex;
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.terms-conditions .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}
