/* screen - buy-as-guest */

.buy-as-guest {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 2941px;
  width: 1920px;
}

.buy-as-guest .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.buy-as-guest .overlap-group7 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.buy-as-guest .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.buy-as-guest .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.buy-as-guest .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.buy-as-guest .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.buy-as-guest .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.buy-as-guest .title {
  -webkit-text-stroke: 1px var(--gallery);
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 70px;
  margin-left: 90px;
  margin-top: 32px;
  min-height: 95px;
  white-space: nowrap;
}

.buy-as-guest .step-1 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 728px;
  justify-content: space-between;
  margin-top: 22px;
  width: 1741px;
}

.buy-as-guest .step-1-registration {
  -webkit-text-stroke: 1px var(--gallery);
  height: 68px;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 132px;
  margin-top: 35px;
  white-space: nowrap;
  width: 436px;
}

.buy-as-guest .tobefield-fields {
  align-items: flex-start;
  display: flex;
  flex: 1;
  gap: 108px;
  height: 551px;
  margin-bottom: 33px;
  margin-left: 132px;
  margin-right: 241px;
  max-height: 551px;
  min-width: calc(100% - 373px);
}

.buy-as-guest .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 53px;
  min-height: 551px;
  width: 630px;
}

.buy-as-guest .overlap-group {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 98px;
  min-width: 630px;
  padding: 28px 77px;
}

.buy-as-guest .komponente-44-1 {
  display: flex;
  height: 40px;
  width: 134px;
}

.buy-as-guest .komponente-46-1 {
  display: flex;
  height: 40px;
  width: 82px;
}

.buy-as-guest .place {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 82px;
}

.buy-as-guest .komponente-48-1 {
  display: flex;
  height: 40px;
  width: 105px;
}

.buy-as-guest .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 98px;
  min-width: 630px;
  padding: 24px 77px;
}

.buy-as-guest .komponente-49-1 {
  display: flex;
  height: 40px;
  width: 74px;
}

.buy-as-guest .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 53px;
  min-height: 249px;
  width: 630px;
}

.buy-as-guest .komponente-45-1 {
  display: flex;
  height: 40px;
  width: 131px;
}

.buy-as-guest .komponente-47-1 {
  display: flex;
  height: 40px;
  width: 72px;
}

.buy-as-guest .place-1 {
  -webkit-text-stroke: 1px var(--black);
  flex: 1;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  opacity: 0.52;
  white-space: nowrap;
  width: 72px;
}

.buy-as-guest .overlap-group8 {
  height: 403px;
  margin-top: 50px;
  position: relative;
  width: 1741px;
}

.buy-as-guest .step2 {
  align-items: flex-start;
  background-color: #65a5ae;
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 403px;
  padding: 44px 106px;
  position: absolute;
  top: 0;
  width: 1741px;
}

.buy-as-guest .step-2-select-paymant {
  -webkit-text-stroke: 1px var(--black);
  margin-left: 10px;
  margin-top: 18px;
}

.buy-as-guest .flex-row {
  height: 76px;
  margin-top: 41px;
  min-width: 1133px;
}

.buy-as-guest .paypal {
  -webkit-text-stroke: 1px var(--black);
  align-self: center;
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 4px;
  min-height: 68px;
  min-width: 150px;
  white-space: nowrap;
}

.buy-as-guest .ellipse-5 {
  margin-left: 51px;
}

.buy-as-guest .mastercard {
  -webkit-text-stroke: 1px var(--black);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 500px;
  min-height: 68px;
  min-width: 255px;
  white-space: nowrap;
}

.buy-as-guest .ellipse-6 {
  margin-left: 51px;
  margin-top: 1px;
}

.buy-as-guest .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 41px;
  height: 72px;
  margin-top: 40px;
  min-width: 264px;
}

.buy-as-guest .invoice {
  -webkit-text-stroke: 1px var(--black);
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 160px;
  white-space: nowrap;
}

.buy-as-guest .step2-1 {
  align-items: center;
  background-image: url(../img/background-25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 403px;
  left: 0;
  min-width: 1741px;
  padding: 44px 106px;
  position: absolute;
  top: 0;
}

.buy-as-guest .flex-col {
  align-self: flex-end;
  flex-direction: column;
  gap: 46px;
  min-height: 296px;
  width: 524px;
}

.buy-as-guest .step-2-select-payment {
  -webkit-text-stroke: 1px var(--gallery);
  align-self: flex-end;
  min-width: 513px;
}

.buy-as-guest .invoice-1 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  white-space: nowrap;
}

.buy-as-guest .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 58px;
  height: 68px;
  min-width: 258px;
}

.buy-as-guest .paypal-1 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 150px;
  white-space: nowrap;
}

.buy-as-guest .mastercard-1 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 240px;
  margin-top: 23px;
  min-height: 68px;
  min-width: 255px;
  white-space: nowrap;
}

.buy-as-guest .komponente-30-3 {
  margin-left: 54px;
  margin-top: 17px;
}

.buy-as-guest .komponente-30-1 {
  left: 316px;
  position: absolute;
  top: 186px;
}

.buy-as-guest .step-3 {
  align-items: center;
  background-image: url(../img/background-26@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 774px;
  margin-top: 64px;
  min-width: 1741px;
  padding: 45.5px 132px;
}

.buy-as-guest .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 673px;
  width: 456px;
}

.buy-as-guest .step-3-confirm-cart {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  white-space: nowrap;
}

.buy-as-guest .pyton-autoupdater {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 62px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .efficiency-script {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 49px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .total {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 95px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 56px;
  height: 68px;
  margin-top: 49px;
  min-width: 398px;
}

.buy-as-guest .confirm-cart {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  min-width: 293px;
  white-space: nowrap;
}

.buy-as-guest .komponente-30 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 15px;
  height: 50px;
  margin-bottom: 2px;
  width: 50px;
}

.buy-as-guest .flex-row-4 {
  align-items: center;
  display: flex;
  gap: 78px;
  height: 68px;
  margin-top: 46px;
  min-width: 398px;
}

.buy-as-guest .number-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-bottom: 241.46px;
  margin-left: 383px;
  min-height: 161px;
  width: 24px;
}

.buy-as-guest .number {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .number-1 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 124.46px;
  margin-left: 445px;
  min-height: 312px;
  width: 93px;
}

.buy-as-guest .text-9 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .text-8 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 49px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .text-10 {
  -webkit-text-stroke: 1px var(--gallery);
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 95px;
  min-height: 56px;
  white-space: nowrap;
}

.buy-as-guest .buttons {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 132px;
  margin-left: 90px;
  margin-top: 64px;
  min-width: 1032px;
}

.buy-as-guest .overlap-group-2 {
  border-radius: 20px;
  height: 105px;
  position: relative;
  width: 450px;
}

.buy-as-guest .rechteck-24 {
  background-color: var(--gallery);
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 450px;
}

.buy-as-guest .buy {
  -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-family: var(--font-family-malgun_gothic);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 140px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.buy-as-guest .overlap-group1 {
  height: 105px;
  position: relative;
  width: 450px;
}

.buy-as-guest .pfad-39 {
  cursor: pointer;
  height: 105px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 450px;
}

.buy-as-guest .cancel {
  -webkit-text-stroke: 1px var(--white);
  left: 150px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.buy-as-guest .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 101px;
  min-width: 1741px;
  width: auto;
}

.buy-as-guest .overlap-group6 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.buy-as-guest .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.buy-as-guest .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.buy-as-guest .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.buy-as-guest .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.buy-as-guest .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.buy-as-guest .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.buy-as-guest .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.buy-as-guest .ellipse {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 31.5px/32.5px;
  height: 65px;
  width: 63px;
}

.buy-as-guest .komponente-30-4 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.buy-as-guest .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}

.buy-as-guest .step-2-select {
  letter-spacing: 0;
  line-height: 50px;
  min-height: 68px;
  white-space: nowrap;
}
