<app-navbar></app-navbar>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="flex-container">
  <div class="panel">
    <div class="text">
      <p class="bold">Publisher and Responsible for Content:</p>
      <p>Auto Script Shop Platform</p>
      <br />
      <p class="bold">Represented by:</p>
      <p>Elias Schwegler, Linus Becker, Collyn Legast, and Manuel Kram</p>
      <br />
      <p class="bold">Contact</p>
      <p>Adress:</p>
      <p>Kottenmatt 14</p>
      <p>Sursee, 6210</p>
      <p>Switzerland</p>
      <br />
      <p>Phone: +41 79 944 10 10</p>

      <br />
      <p>elias_schweglerÄTsluz.ch, linus_beckerÄTsluz.ch,</p>
      <p>collyn_legastÄTsluz.ch, manuel_kramÄTsluz.ch</p>
      <br />

      <p class="bold">Registration:</p>
      <p>Business Registration Number: In Progress</p>
      <p>Registered in: In Progress</p>
      <br />
      <p class="bold">Regulatory Authority:</p>
      <p>In progress</p>
      <br />
      <p class="bold">VAT Identification Number:</p>
      <p>In progress</p>
    </div>
  </div>
</div>

<br />
<app-footer></app-footer>
<br />
<br />
