<app-navbar></app-navbar>

<div class="flex-container">
  <br />
  <br />

  <p class="bold">Sign-Up</p>
  <br />
  <br />

  <form (submit)="$event.preventDefault()">
    <mat-form-field>
      <p>First name</p>
      <mat-label>First name</mat-label>
      <input class="input" matInput [(ngModel)]="firstName" name="firstname" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <p>Last name</p>
      <mat-label>Last name</mat-label>
      <input class="input" matInput [(ngModel)]="lastName" name="lastname" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <p>Username</p>
      <mat-label>Username</mat-label>
      <input class="input" matInput [(ngModel)]="Username" name="username" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <p>Email</p>
      <mat-label>Email</mat-label>
      <input class="input" matInput [(ngModel)]="email" name="email" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <p>Password</p>
      <mat-label>Password</mat-label>
      <input
        class="input"
        matInput
        [(ngModel)]="password"
        type="password"
        name="password"
      />
    </mat-form-field>

    <br />
    <br />

    <button mat-raised-button (click)="createUser()">Submit</button>

    <br />
    <br />
  </form>
</div>

<app-footer></app-footer>
