.user-hub {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-hub .div-26 {
  background-color: #000000;
  height: 2432px;
  position: relative;
  width: 1920px;
}

.user-hub .overlap-77 {
  height: 906px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.user-hub .oders {
  height: 421px;
  left: 90px;
  position: absolute;
  top: 485px;
  width: 1526px;
}

.user-hub .overlap-78 {
  height: 421px;
  position: relative;
}

.user-hub .background-22 {
  display: block;
  height: 421px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1526px;
}

.user-hub .text-wrapper-248 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.user-hub .text-wrapper-249 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 993px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.user-hub .gruppe-106 {
  display: block;
  height: 71px;
  left: 1299px;
  position: absolute;
  top: 314px;
  width: 194px;
}

.user-hub .overlap-group-27 {
  height: 71px;
  position: relative;
}

.user-hub .background-23 {
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff80;
  border-radius: 30px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 194px;
}

.user-hub .buttons-4 {
  height: 66px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 163px;
}

.user-hub .text-wrapper-250 {
  -webkit-text-stroke: 1px #000000;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.user-hub .gruppe-107 {
  height: 263px;
  left: 619px;
  position: absolute;
  top: 114px;
  width: 387px;
}

.user-hub .overlap-79 {
  border-radius: 30px;
  height: 263px;
  position: relative;
}

.user-hub .product-pannel-2 {
  background-color: #000000;
  border: 1px solid;
  border-color: #eeeeee80;
  border-radius: 30px;
  height: 263px;
  left: 0;
  position: absolute;
  top: 0;
  width: 387px;
}

.user-hub .datadynamo-script {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 156px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 61px;
  white-space: nowrap;
}

.user-hub .bild-18 {
  border-radius: 20px;
  height: 64px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 100px;
}

.user-hub .data-analyze-data-2 {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 194px;
  white-space: nowrap;
}

.user-hub .text-wrapper-251 {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 188px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 198px;
  white-space: nowrap;
}

.user-hub .price-CHF-13 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Malgun Gothic", Helvetica;
  font-size: 20px;
  left: 34px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 160px;
  white-space: nowrap;
}

.user-hub .text-wrapper-252 {
  font-family: "MalgunGothic-Bold", Helvetica;
  font-weight: 700;
}

.user-hub .text-wrapper-253 {
  font-family: "MalgunGothic-Regular", Helvetica;
  font-weight: 400;
}

.user-hub .gruppe-108 {
  height: 271px;
  left: 46px;
  position: absolute;
  top: 114px;
  width: 387px;
}

.user-hub .overlap-80 {
  border-radius: 30px;
  height: 271px;
  position: relative;
}

.user-hub .package-management-12 {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 192px;
  white-space: nowrap;
}

.user-hub .logging-and-12 {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.user-hub .price-CHF-14 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "Malgun Gothic", Helvetica;
  font-size: 20px;
  left: 23px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 158px;
  white-space: nowrap;
}

.user-hub .bakcground-3 {
  background-color: #000000;
  border: 1px solid;
  border-color: #6a6a6a;
  border-radius: 30px;
  height: 271px;
  left: 0;
  position: absolute;
  top: 0;
  width: 387px;
}

.user-hub .autoadmin-pro-2 {
  -webkit-text-stroke: 1px #ffffff;
  color: #f8f8f8;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.user-hub .bild-19 {
  border-radius: 20px;
  height: 83px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 130px;
}

.user-hub .tile-3 {
  -webkit-text-stroke: 1px #c6dee6;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 57px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: 57px;
  position: absolute;
  top: 252px;
  white-space: nowrap;
}

.user-hub .overlap-81 {
  height: 599px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.user-hub .navbar-14 {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.user-hub .overlap-82 {
  height: 140px;
  position: relative;
}

.user-hub .icon-black-19 {
  height: 70px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 59px;
}

.user-hub .blackbackground-19 {
  background-color: #121212;
  border: 1px solid;
  border-color: #707070;
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.user-hub .text-wrapper-254 {
  -webkit-text-stroke: 1px #ffffff;
  color: #fcfcfd;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 1237px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.user-hub .user-19 {
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.user-hub .element-19 {
  height: 65px;
  left: 1592px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 65px;
}

.user-hub .element-cart-19 {
  display: block;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.user-hub .gruppe-109 {
  display: block;
  height: 81px;
  left: 59px;
  position: absolute;
  top: 14px;
  width: 98px;
}

.user-hub .icon-white-19 {
  background-image: url(../../../static/img/icon-white-48.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 81px;
  width: 67px;
}

.user-hub .linie-41 {
  height: 57px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 3px;
}

.user-hub .requests-19 {
  -webkit-text-stroke: 1px #ffffff;
  color: #fcfcfd;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 1408px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.user-hub .text-wrapper-255 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 1674px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 233px;
  white-space: nowrap;
}

.user-hub .rechteck-9 {
  background-color: #000000;
  border: 1px solid;
  border-color: #707070;
  border-radius: 43px;
  height: 483px;
  left: 1639px;
  position: absolute;
  top: 116px;
  width: 267px;
}

.user-hub .text-wrapper-256 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 1667px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 125px;
  white-space: nowrap;
}

.user-hub .text-wrapper-257 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 1667px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 184px;
  white-space: nowrap;
}

.user-hub .text-wrapper-258 {
  -webkit-text-stroke: 1px #eeeeee;
  color: #eeeeee;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1667px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 230px;
  white-space: nowrap;
}

.user-hub .overlap-83 {
  border-radius: 30px;
  height: 421px;
  left: 90px;
  position: absolute;
  top: 964px;
  width: 1526px;
}

.user-hub .settings {
  height: 66px;
  left: 26px;
  position: absolute;
  top: 126px;
  width: 299px;
}

.user-hub .text-wrapper-259 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.user-hub .oders-2 {
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff80;
  border-radius: 30px;
  height: 421px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1526px;
}

.user-hub .text-wrapper-260 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.user-hub .text-wrapper-261 {
  -webkit-text-stroke: 1px #ffffff;
  color: #ffffff;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 992px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.user-hub .bild-20 {
  height: 280px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 399px;
}

.user-hub .gruppe-110 {
  height: 71px;
  left: 1298px;
  position: absolute;
  top: 315px;
  width: 194px;
}

.user-hub .footer-19 {
  background-color: transparent;
  height: 373px;
  left: 65px;
  position: absolute;
  top: 2000px;
  width: 1741px;
}

.user-hub .overlap-84 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.user-hub .background-24 {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.user-hub .auto-script-shop-20 {
  display: block;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.user-hub .gruppe-111 {
  height: 349px;
  left: 1113px;
  position: absolute;
  top: 24px;
  width: 325px;
}

.user-hub .text-wrapper-262 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.user-hub .text-wrapper-263 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 176px;
  white-space: nowrap;
}

.user-hub .text-wrapper-264 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 90px;
  white-space: nowrap;
}

.user-hub .terms-conditions-18 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  display: block;
  font-family: "MalgunGothic-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 268px;
  white-space: nowrap;
}

.user-hub .linie-42 {
  height: 240px;
  left: 868px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 3px;
}

.user-hub .gruppe-112 {
  height: 46px;
  left: 1479px;
  position: absolute;
  top: 24px;
  width: 85px;
}

.user-hub .oders-3 {
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff80;
  border-radius: 30px;
  height: 421px;
  left: 90px;
  position: absolute;
  top: 1443px;
  width: 1526px;
}

.user-hub .gruppe-113 {
  height: 71px;
  left: 1298px;
  position: absolute;
  top: 322px;
  width: 194px;
}

.user-hub .bild-21 {
  height: 270px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 404px;
}
