/* screen - buy-as-guest-message */

.buy-as-guest-message {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1496px;
  width: 1920px;
}

.buy-as-guest-message .navbar {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.buy-as-guest-message .overlap-group2 {
  height: 108px;
  position: relative;
  width: 1920px;
}

.buy-as-guest-message .user-128 {
  cursor: pointer;
  height: 63px;
  left: 1779px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 63px;
}

.buy-as-guest-message .x231-2317666_cart-ico {
  cursor: pointer;
  height: 58px;
  left: 1647px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 132px;
}

.buy-as-guest-message .gruppe-22 {
  cursor: pointer;
  height: 81px;
  left: 59px;
  top: 14px;
  width: 98px;
}

.buy-as-guest-message .linie-3 {
  height: 57px;
  left: 958px;
  top: 26px;
}

.buy-as-guest-message .requests {
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  left: 1408px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.buy-as-guest-message .flex-row {
  align-items: center;
  display: flex;
  gap: 194px;
  margin-left: 25px;
  margin-top: 113px;
  min-width: 1627px;
}

.buy-as-guest-message .tion-container {
  height: 188px;
  margin-top: 143px;
  position: relative;
  width: 906px;
}

.buy-as-guest-message .transaction-successful {
  -webkit-text-stroke: 1px var(--gallery);
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.buy-as-guest-message .you-will-get-a-confirmation-email-soon {
  -webkit-text-stroke: 1px var(--gallery);
  left: 8px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 112px;
  white-space: nowrap;
}

.buy-as-guest-message .clean {
  border-radius: 256px;
  height: 527px;
  object-fit: cover;
  width: 527px;
}

.buy-as-guest-message .buttons {
  align-items: flex-end;
  align-self: flex-start;
  background-image: url(../img/pfad-40-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  margin-left: 90px;
  margin-top: 97px;
  min-width: 701px;
  padding: 14px 137px;
}

.buy-as-guest-message .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 93px;
  min-width: 1741px;
  width: auto;
}

.buy-as-guest-message .overlap-group1 {
  height: 373px;
  position: relative;
  width: 1741px;
}

.buy-as-guest-message .background {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1741px;
}

.buy-as-guest-message .auto-script-shop-hig {
  cursor: pointer;
  height: 190px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 468px;
}

.buy-as-guest-message .gruppe-38 {
  align-items: flex-start;
  flex-direction: column;
  left: 1113px;
  min-height: 349px;
  top: 24px;
  width: 325px;
}

.buy-as-guest-message .about {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 6px;
  min-height: 48px;
  white-space: nowrap;
}

.buy-as-guest-message .disclaimer {
  -webkit-text-stroke: 1px var(--black);
  cursor: pointer;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 38px;
  min-height: 48px;
  white-space: nowrap;
}

.buy-as-guest-message .linie-2 {
  height: 240px;
  left: 868px;
  top: 54px;
}

.buy-as-guest-message .gruppe-49 {
  height: 46px;
  left: 1479px;
  top: 24px;
  width: 85px;
}

.buy-as-guest-message .linie {
  object-fit: cover;
  position: absolute;
  width: 3px;
}
