body {
  background-color: black;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10vw;
  margin-top: 8vw;
  height: 18vw;
}
.flex-between {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-color: white;
  border-width: thin;
  margin-top: 8vw;
  height: 18vw;
}
.flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 13vw;
}

.bold {
  font-weight: bold;
  align-self: center;
}

.align-center {
  align-self: center;
}
.blue-pannel {
  height: 1vw;
  color: white;
}

.blue-pannel-image {
  height: 24vw;
}
.blue-arrow {
  height: auto;
  width: 5vw;
  align-self: center;
}
p {
  font-size: 2vw;
  color: white;
}
.img-size {
  height: auto;
  width: 25vw;
}
