<app-navbar></app-navbar>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="flex-container">
  <div class="panel">
    <div class="text">
      <p class="boldspecial">Disclaimer for AutoScriptShop</p>
      <br />
      <br />
      <p class="bold">Disclaimer for AutoScriptShop :</p>
      <p>
        Please read this disclaimer ("disclaimer") carefully before using the
        AutoScriptShop website (“website”, "service") operated by AutoScriptShop
        ("us", 'we", "our").
      </p>
      <br />

      <p class="bold">Conditions of Use :</p>
      <p>
        By using this service, you certify that you have read and reviewed this
        disclaimer and that you agree to comply with its terms. If you do not
        want to be bound by the terms of this disclaimer, you are advised to
        leave the website accordingly. AutoScriptShop only grants use and access
        of this website, its products, and its services to those who have
        accepted its terms.
      </p>
      <br />

      <p class="bold">Privacy Policy</p>
      <p>
        Before you continue using our website, we advise you to read our privacy
        policy regarding our user data collection. It will help you better
        understand our practices.
      </p>

      <br />
      <p class="bold">Age Restriction</p>
      <p>
        You must be at least 18 (eighteen) years of age to use this website. By
        using this website and by agreeing to this disclaimer, you warrant and
        represent that you are at least 18 years of age.
      </p>

      <br />
      <p class="bold">Intellectual Property</p>
      <p>
        The content and intellectual property rights found on this website, as
        well as all materials, are owned by us or have been granted permission
        by the owner. You may not reuse, republish, or reprint such content
        without our written consent.
      </p>

      <br />
      <p class="bold">User Accounts</p>
      <p>
        As a user of this website, you may be asked to register with us and
        provide private information. You are responsible for ensuring the
        accuracy of this information, and you are responsible for maintaining
        the safety and security of your identifying information. You are also
        responsible for all activities that occur under your account or
        password.
      </p>

      <br />
      <p class="bold">Applicable Law</p>
      <p>
        By visiting this website, you agree that the laws of the [insert
        governing location], without regard to principles of conflict laws, will
        govern these terms and conditions, or any dispute of any sort that might
        come between AutoScriptShop and you, or its business partners and
        associates.
      </p>

      <br />
      <p class="bold"></p>
      <p></p>
    </div>
  </div>
</div>

<br />
<app-footer></app-footer>
<br />
<br />
